@import '../../styles/config';

.SocialMediaLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.SocialMediaLinks_item {
    padding-right: 1.8rem;

    &:hover {
        color: $color__orange--secondary;
        cursor: pointer;
    }

    &:last-child {
        padding-right: 0;
    }
}
