@import '../../styles/config/';

.PropertyDescription {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    color: $color__darkGrey--secondary;
}

.PropertyDescription_map {
    margin: 2rem 0;
    width: 100%;
    height: 40rem;

    @include respond-to(screen-medium) {
        width: 60%;
    }
}
