@import '../../styles/config';

.Header {
    display: flex;
    width: 100%;
    color: $color__white;
    background: $color__blue;
}

.Header_items {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0 1.5rem;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    @include respond-to(screen-xl) {
        width: 80%;
        padding: auto;
    }
}

.Header_item {
    padding: 1.4rem 0;
    display: none;

    @include respond-to(screen-large) {
        display: block;
        padding: 1.8rem 1.5rem;
        &:last-child {
            margin-right: 3.3rem;
        }
    }

    &:hover {
        color: lighten($color__orange--secondary, 30%);
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.Header_item___title {
    margin-right: auto;
    display: flex;

    &:hover {
        color: $color__white;
    }
}

.Header_title {
    font-weight: bold;
    margin: auto 0;
    letter-spacing: 2px;

    @include respond-to(screen-large) {
        letter-spacing: 3px;
    }

    span {
        font-size: $font__title--secondary;

        @include respond-to(screen-medium) {
            font-size: $font__title;
        }
    }
}

.Header_item___menuBar {
    display: flex;

    &:hover {
        color: $color__white;
    }

    @include respond-to(screen-large) {
        display: none;
    }
}
