@import '../../styles/config';

.LoadMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.LoadMore_button {
    height: 4rem;
    border-radius: 0.6rem;
    width: 35rem;
    padding: 0 2.2rem;
    font-size: $font__title--secondary;
    justify-content: center;
}
