@import '../../styles/config';

.PropertyList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @include respond-to(screen-medium) {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        grid-gap: 1rem;
        padding: 3rem 0;
    }

    @include respond-to(screen-large) {
        width: auto;
        grid-gap: 2rem;
    }

    @include respond-to(screen-xl) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        grid-gap: 2rem;
    }
}

.PropertyList_anchor {
    padding: 1rem 0;
    cursor: pointer;

    @include respond-to(screen-medium) {
        padding: 0;
    }
}
