@import '../../styles/config';

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.815);
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.Modal_close {
    color: $color__grey--secondary;
    display: flex;
    justify-content: flex-end;
    margin: 2% 3.5% 0 0;
    cursor: pointer;
}
