@import '../../styles/config';

.PropertyList {
    display: flex;
    flex-direction: column;

    @include respond-to(screen-small-landscape) {
        width: 100%;
    }

    @include respond-to(screen-medium) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        padding: 3rem 0;
    }

    @include respond-to(screen-large) {
        width: auto;
        grid-gap: 2rem;
    }

    @include respond-to(screen-xl) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
        // padding: 2rem 8rem;
    }
}

.PropertyList_anchor {
    padding: 1rem 0;
    cursor: pointer;

    @include respond-to(screen-medium) {
        padding: 0;
    }
}
