@import '../../styles/config';

.SearchResults {
    display: flex;
    flex-direction: column;
    background: $color__grey;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;

    @include respond-to(screen-large) {
        padding: 5rem 6rem 8rem 6rem;
    }

    .SearchResults_loadMore {
        height: 4rem;
        width: auto;
        padding: 0 2.2rem;
        font-size: $font__title--secondary;
        justify-content: center;
    }
}

.SearchResults_title {
    font-size: 3rem;
    text-align: center;
    color: $color__darkGrey--secondary;
}
