@import '../../styles/config';

.SearchResults {
    background: $color__grey;
    padding: 3rem 0;
    min-height: 35vh;

    @include respond-to(screen-large) {
        padding: 5rem 0;
    }
}

.SearchResults_propertyList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-to(screen-large) {
        width: 75%;
        margin: auto;
    }
}

.SearchResults_NoResults {
    color: $color__darkGrey--secondary;
    text-align: center;
}
