@import '../../styles/config';

.Contact {
    top: 50%;
    left: 0;
    position: relative;
    height: 120rem;
    margin: 3rem 0;

    @include respond-to(screen-medium) {
        margin: 7rem 3rem;
        height: 90rem;
    }

    @include respond-to(screen-xl) {
        top: 0;
        left: 0%;
        margin: 7rem 16rem;
        height: 58rem;
    }
}

.Contact_header {
    text-align: center;
    color: $color__darkGrey--secondary;
    margin: 0 0.9rem;

    .Contact_title {
        font-size: 3rem;
        margin: 0.9rem;
    }
}

.Contact_body {
    padding: 7rem 0;
}
