@import '../../styles/config/';

.MenuBar {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 5.6rem;
    background: lighten($color__grey, 4%);
    box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.2);
}

.MenuBar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color__blue;
    color: $color__white;
    padding: 1.4rem;
}

.MenuBar_items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $color__darkGrey--secondary;
    display: block;
    transition: 0.3s;
}

.MenuBar_item {
    padding: 1.2rem 1.4rem;
    border-top: 1px solid $color__grey;

    &:last-child {
        border-bottom: 1px solid $color__grey;
    }

    &:hover {
        background: darken($color__grey, 2%);
    }
}

.MenuBar_closeButton {
    height: 2rem;
}
