//initialize color scheme for the website

$color__blue:#07889b;
$color__blue--secondary:#66B9bf;

$color__orange:#E37222;
$color__orange--secondary:#EEAA7B;

$color__grey:rgb(233, 231, 231);

$color__white:white;