//initialize color scheme for the website

$color__blue: #07889b;
$color__blue--secondary: #66b9bf;

$color__orange: #e37222;
$color__orange--secondary: #c05407;

$color__grey: rgb(233, 231, 231);
$color__grey--secondary: rgb(241, 240, 240);

$color__white: white;

$color__darkGrey: rgb(42, 42, 42);
