$font__stack--default:Georgia, serif;

@mixin size($size) {
    font-size: ($size/16)+rem; //convert px to rem
  }


$font__body:16px;
$font__body--secondary:14px;

$font__title:20px;
$font__title--secondary:18px;

$font__subtitle:13px;




