$font__stack--default:Georgia, serif;

$font__body:1.6rem; //16px
$font__body--secondary:1.4rem; //14px

$font__title:2rem; //20px
$font__title--secondary:1.8rem; //18px

$font__subtitle:1.3rem; //13px




