@import '../../styles/config';

.SearchContainer {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 10, 12, 0.5) 20%, rgba(3, 51, 59, 0.5) 100%);
    }
}

.SearchContainer_backgroundImage {
    display: block;
    height: 60%;
    object-fit: cover;

    @include respond-to(screen-medium) {
        width: 100%;
        height: 65vh;
    }
}

.SearchContainer_wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SearchContainer_title {
    text-align: center;
    color: $color__white;
    padding: 0 1rem;

    span {
        font-size: 3rem;

        @include respond-to(screen-medium) {
            font-size: 4.5rem;
        }
    }
}
