@import '../../styles/config/';

.PropertyCarousel_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: -10% auto;

    @include respond-to(screen-small-landscape) {
        margin: -6% auto;
        width: 75%;
    }

    @include respond-to(screen-medium) {
        width: 85%;
    }

    @include respond-to(screen-large) {
        margin: -5% auto;
    }

    @include respond-to(screen-xl) {
        width: 65%;
    }

    img {
        height: 40vh;
        object-fit: cover;

        @include respond-to(screen-small-landscape) {
            height: 65vh;
        }

        @include respond-to(screen-medium) {
            height: 50vh;
        }

        @include respond-to(screen-large) {
            height: 70vh;
        }
    }
}
