@import '../../styles/config';

.Counter {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin: 1rem;
    background: lighten($color__grey--secondary, 10%);
    color: $color__blue;
    box-shadow: 4px 4px 5px -1px rgba(109, 108, 108, 1);

    @include respond-to(screen-medium) {
        margin: 0;
        width: 20rem;
    }

    @include respond-to(screen-large) {
        width: 15rem;
    }
}

.Counter_counterUp {
    font-size: 2.5rem;
    margin: 1rem 0;

    @include respond-to(screen-medium) {
        font-size: 4rem;
    }
}

.Counter_icon {
    color: $color__orange;
}

.Counter_message {
    font-size: 2.5rem;

    @include respond-to(screen-medium) {
        ffont-size: $font__title;
    }
}
