@import '../../styles/config';

.Contact {
    top: 50%;
    left: 0;
    position: relative;
    height: 120rem;
    margin: 3rem 0;

    @include respond-to(screen-medium) {
        margin: 7rem 3rem;
        height: 90rem;
    }

    @include respond-to(screen-xl) {
        top: 0;
        left: 5%;
        margin: 7rem 3rem;
        height: 58rem;
    }
}

.Contact_header {
    text-align: center;
    color: $color__darkGrey--secondary;
    margin: 0 0.9rem;

    .Contact_title {
        font-size: 3rem;
        margin: 0.9rem;
    }
}

.Contact_body {
    padding: 7rem 0;
}

.Contact_info {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;

    @include respond-to(screen-small-landscape) {
        top: 46%;
    }

    @include respond-to(screen-medium) {
        width: auto;
        text-align: left;
        top: 64%;
        left: 12%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    @include respond-to(screen-xl) {
        top: 33%;
        left: 49%;
    }
}

.Contact_infoBlock {
    padding: 1rem;
    color: $color__darkGrey--secondary;
    width: auto;
}

.Contact_blockTitle {
    font-size: $font__title;
    padding: 1rem 0;
}

.Contact_details {
    padding: 1rem 0;
    div {
        padding: 0.5rem 0;
    }
}

.Contact_icon {
    justify-content: center;
    @include respond-to(screen-medium) {
        justify-content: flex-start;
    }
}

.Contact_socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to(screen-medium) {
        width: auto;
        justify-content: flex-start;
    }

    svg {
        padding-right: 1rem;
    }
}
