@import '../../styles/config';

.Button {
    padding: 0.5rem 1.5rem;
    font-size: $font__body;
    border-radius: 3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.Button___primary {
    background: $color__orange;
    color: $color__white;

    &:hover {
        background: $color__orange--secondary;
    }
}

.Button___secondary {
    background: $color__grey;
    color: $color__orange;
    border: 2px solid $color__orange;
    font-weight: 600;

    &:hover {
        color: $color__orange--secondary;
        border: 2px solid $color__orange--secondary;
    }
}

.Button___default {
    background: $color__grey;
    border: 1px solid $color__grey--secondary;
    color: $color__darkGrey--secondary;
    border-radius: 0;

    &:hover {
        border: 1px solid darken($color__grey--secondary, 8%);
        color: darken($color__darkGrey--secondary, 8%);
    }
}
