@import '../../styles/config';

.CompanyStats {
    background: $color__blue;
    padding: 3rem 0;
}

.CompanyStats_wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include respond-to(screen-medium) {
        width: 70%;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 3.5rem;
    }

    @include respond-to(screen-large) {
        width: 90%;
        grid-template-columns: auto auto auto auto;
        grid-gap: 2rem;
    }

    @include respond-to(screen-xl) {
        width: 80%;
    }
}
