@import '../../styles/config';

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.815);
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.Modal_children {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.Modal_close {
    position: absolute;
    top: 7%;
    right: 7%;
    z-index: 1;
    color: $color__grey--secondary;
    cursor: pointer;
}
