@import '../../styles/config';

.SearchPage_searchWrapper {
    width: 100%;
    background: rgba(248, 248, 248, 0.781);
}

.SearchPage_search {
    padding: 0;

    @include respond-to(screen-small-landscape) {
        padding-top: 1rem;
        width: auto;
    }

    @include respond-to(screen-medium) {
        padding: 2rem;
        width: 95%;
    }

    @include respond-to(screen-large) {
        width: 80%;
        padding: 2rem 0;
        grid-template-areas:
            'titleBlock titleBlock titleBlock titleBlock titleBlock titleBlock titleBlock'
            'cityBlock cityBlock priceBlock interiorBlock categoryBlock bedroomsBlock buttonBlock';
        grid-template-columns: 10% 10% 15% 15% 15% 15% auto;
    }

    @include respond-to(screen-xl) {
        grid-template-columns: 10% 10% 15% 15% 15% 15% auto;
    }
}

.SearchPage_results {
    @include respond-to(screen-large) {
        padding: 2rem 16rem;
    }
}

.SearchPage_heroImage {
    background-image: linear-gradient(
            to bottom,
            rgba(1, 48, 56, 0.315) 20%,
            rgba(1, 55, 65, 0.445) 100%
        ),
        url('../../static/images/amsterdam4.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    height: 25rem;
    width: 100%;
}
