@import '../../styles/config';

.Dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    top: 60%;
    z-index: 2;
    background: $color__grey;
    border: 1px solid $color__grey--secondary;
    color: $color__darkGrey--secondary;
}

.Dropdown_option {
    padding: 1rem;
    border: 1px solid $color__grey;

    &:hover{
        cursor: pointer;
        border: 1px solid darken($color__grey,6%);
        background:darken($color__grey,6%);
    }

    &:last-child {
        padding-bottom: 0.7rem;
    }
}
